<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <h1>Create User</h1>
   <form action="/create_user" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Create User</button>
    </form>
</body>
</html> -->


{% extends "base.html" %}

{% block head %}
<h1> This is Create User page</h1>

{% endblock %}

{% block body %}

{{ result }}
<form action="/create_user" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <button type="submit">Create User</button>
</form>

<a href="{{ url_for('home') }}"> index </a>


{% endblock %}